<%- include('../includes/head') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">
</head>
<body>
    <%- include('../includes/navigation') %>
    <main>
        <% if (errorMessage) { %>
         <div class="user-message user-message--error">
            <%= errorMessage  %>
         </div>
        <% } %>
        <form action="/new-password" method="post" class="login-form">
            <div class="form-control">
                <label for="password">New Password</label>
                <input type="password" name="password" id="password">
            </div>
            <input type="hidden" name="CSRFToken" value="<%= csrfToken %>">
            <input type="hidden" name="token" value="<%= resetToken %>">
            <input type="hidden" name="userID" value="<%= id %>">
            <button class="btn" type="submit">Update Password</button>
        </form>
    </main>
</body>