<%- include('../includes/head') %>
<link rel="stylesheet" href="/css/cart.css">
</head>
<body>
    <%- include('../includes/navigation') %>
    <main>
        <% if (products.length > 0) {%>
            <ul class="cart__item-list">
            <% products.forEach(product => { %>
                <li class="cart__item">
                    <h1><%= product.title%></h1>
                    <h2>Quantity: <%=product.cartItem.quantity%></h2>
                    <form action="/cart-delete-product" method="post">
                        <input type="hidden" name="CSRFToken" value="<%= csrfToken %>">
                        <input type="hidden" value="<%= product.id %>" name="id">
                        <button class="btn" type="submit" >Delete</button>
                    </form>
                </li>
           <% }); %>
            </ul>
            <hr>
            <div class="centered" >
                <form action="/orders" method="post">
                <input type="hidden" name="CSRFToken" value="<%= csrfToken %>">   
                <button class="btn" type="submit">Order Now</button>
                </form>
            </div>
        <% } else {%>
            <h2>No Cart Available!</h2>
            <%}%>

    </main>
</body>
</html>